html {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
 
}
body{
    background-image: url("/imagem/ceu.jpg") ;
    width: 400px;
    
    
}

.textTittle {
    text-align: center;
    font-size: 18px;
    color: #25533c;
    height: 25px;
}

.textSub {
  
    font-size: 16px;
    font-weight: bold;
    color:#21922b;
    text-align: center;
}

.textQuestions, .textApp, .textLevel, .textTec, .box {
    height: 20px ;
    font-size: 15px;
    font-weight: bold;
    color:#135339;
}

.textQuestions {
    padding-top: 15px;
    display: inline-block;
}

.containerApp, .containerLevel, .containerTec {
    font-size: 14px;
    color:#135339;
}


.boxQuestions input, .boxLevel select, .boxText textarea {
    color:#7B68EE;
    font-size: 14px;
    border: 1px solid #66968a;
    border-radius: 5px; 
    box-shadow: 2px 2px 5px #6a5acd;
    
}

.boxQuestions input {
    height: 21px;
}

.boxLevel select {
    height: 25px;
}

.boxText textarea {
    width: 350px;
}

.boxBottom input {
    font-weight: bold;
    height: 25px;
    color:#7B68EE;
    width: 100px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #6a5acd;

}

